#projects {
  padding: 50px 15px;
  border-bottom: 1px solid var(--border);
  text-align: center;
}

#projects h2 {
  color: var(--heading);
  margin-bottom: 50px;
}
#more-projects {
  display: none;
}
@media only screen and (min-width: 769px) {
  .projects {
    text-align: left;
  }
}
